
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lumanosimo&family=Moon+Dance&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;

}
.nav-logo{
    display: flex;
    align-items: center;
  
    
}
.nav-logo-img{
    width: 100px;
}

.nav-logo-text{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-text{
color: #FF42A5;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1400px;

}
.nav-items a{
    text-decoration: none;  
color: #3C354F;
font-size: 1.2rem;
font-weight: 500;
margin-left: 35px;

}
.nav-items{
    display: flex;
    align-items: center;
   
}
.nav-items a .fa-brands{
    font-size: 1.2rem;
    margin-left: 8px;
}
.nav-btn{
     border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 20px 24px;
}
/* end navbar */
/* banner section start */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
max-width: 1400px;
margin: 0 auto;
}
.banner-content{
    padding-left:60px;
    
}
.banner-content h1{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5.5rem;
font-weight:800 ;
margin-bottom: 40px;
}
.banner-content h3{
    font-size: 3rem;
    font-weight: 600;
color: #0B0223;
margin-bottom:20px;
}
.banner-content p{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn-one{
    color: #FFF;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
font-size: 1.2rem;
padding: 20px 40px;
font-weight: 600;
border: none;
margin-top: 20px;
}
.btn-two{
    color: #FFF;
    border-radius: 48px;
    background: #4EC5F7;
font-size: 1.2rem;
padding: 20px 40px;
font-weight: 600;
border: none;
margin-left: 15px;
margin-top: 20px;
}



.banner-img img{
    width: 100%;
    height:100%;
    
}
/* end banner section */
.online-game-funny-vdo{
    max-width: 1400px;
    margin: 0 auto;
}

.online-game{
    text-align: center;
    margin-top: 20px;
    margin-bottom:40px;
}
.online-game h2{
    font-size: 3rem;
    font-weight: 700;
}
.online-game p{

    font-size: 1.2rem;
    color: #534C64;
    font-weight:400 ;
    margin-top: 20px;
}
.game-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game-img{
    display: flex;
    justify-content: center;
    gap:15px ;
}
.online-game-img img{
    width: 350px;
height:350px;
border:5px solid transparent;
border-radius: 19px;

}
.online-game-img p{
margin-top:20px;
font-size: 1.2rem;
font-weight: 500;
color: #534C64;
}
.online-game-img img:hover{
    border:5px solid rgb(196, 73, 93) ;
    border-radius: 19px;
    cursor: pointer;

}
/* online game section end here */
.play-instantly{
    max-width: 1400px;
    margin: 0 auto;
   margin-top: 80px;

}
.play{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-text{
    text-align: center;
}
.play-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}
.play-text h2{
    
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;

}
.play-text p{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

.play-img img{
    height: 90%;
    width: 100%;
    
}
.game-container{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
}
.games button{
    border-radius: 50px;
background-color: #FFF;
border: 5px solid transparent;
display: flex;
justify-content: center;
align-items: center;

}
.games{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 20px;
    gap: 20px;
   
    
}
.games button:hover{
    border: 5px solid #F948B2;
    cursor: pointer;

}
.footer-logo-container{
    background-color:rgba(97, 73, 92, 0.537);
    padding-top:50px ;
    margin-top: 50px;
 

}

.footer-logo{
    width: 300px;
    
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}
.footer-content h5{
    color:#3C354F;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 50px;

}
.footer-link{
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top:60px;
    
}
.fa-brands{
    font-size: 2.5rem;
}
.cpy{
   
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 140px;
  color: #534C64;
  font-size: 1.2rem;
  font-weight: 500;

}













@media screen and (max-width:576px) {
    nav,
.nav-items


    {
        flex-direction: column;
    }

    .nav-items{
        gap:50px;
        margin-top:50px;
    }
    .banner-container{
        flex-direction: column;
        margin: 10px;
    }
    .online-game-img {
        flex-direction: column;
        
    }
    .online-game-img img{
        display: block;
        margin: 0 auto;

    }
   .online-game-img p{
    text-align: center;
   }
   .play{
    flex-direction: column;
  
}
.play-img img{
    margin-top: 20px;
}
.games{
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    row-gap: 10px;
}
.footer-content{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 8px;
padding-left: 30px;
padding-right: 10px;


}
.footer-logo{
    padding-right: 20px;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
    padding-left: 40px;
}
.cpy{
   padding: 30px;
   text-align: center;
}

}











@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        gap:40px;
    }
    .btn-two{
        margin-right: -15px;
    }
    .banner-container{
        flex-direction: column;
        margin: 10px;
    }
    .online-game-img {
        flex-direction: column;
        
    }
    .online-game-img img{
        display: block;
        margin: 0 auto;

    }
   .online-game-img p{
    text-align: center;
   }
   .play{
    flex-direction: column;
  
}
.play-img img{
    margin-top: 20px;
}
.games{
    grid-template-columns: repeat(3,1fr)
}
.footer-content{
    flex-wrap: wrap;
}
.footer-link{
    flex-wrap: wrap;
}

    
}