
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lumanosimo&family=Moon+Dance&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;

}
.nav-logo{
    display: flex;
    align-items: center;
  
    
}
.nav-logo-img{
    width: 100px;
}

.nav-logo-text{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-text{
color: #FF42A5;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
.nav-items a{
    text-decoration: none;  
color: #3C354F;
font-size: 1.2rem;
font-weight: 500;
margin-left: 35px;

}
.nav-items{
    display: flex;
    align-items: center;
   
}
.nav-btn{
     border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 20px 24px;
}








@media screen and (max-width:576px) {
    nav,
.nav-items
    {
        flex-direction: column;
    }

    .nav-items{
        gap:50px;
        margin-top:50px;
    }
}


@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        gap:40px;
    }
    
}